<?xml version="1.0" encoding = 'UTF-8'?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="false">

	<description>DeveloperWorks Beginning Tomcat Tutorial</description>
    <display-name>
        opennlp-POSTagger
    </display-name>
    <servlet>
        <servlet-name>opennlpPOSTagger</servlet-name>
        <servlet-class>opennlpPOSTagger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>opennlpPOSTagger</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
